.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.gitattributes
.yarnrc
.eslintrc*
eslint.config.mjs
esbuild.js
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
